.fundo-imagem {
 background-image: url('/imagens/fundo.jpg');
  

  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh; 
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-destaque {
  background-color: red; 
  border: 2px solid green; 

  padding: 15px; 
  color: white; 
}
.caixa-vermelha {
  background-color: red;
  width: 700px;
  padding: 0px;
  
  margin: 0 auto; 
  
  color: white;
  text-align: center; 
}

.caixa-verde {
  background-color: green;
  width: 700px;
  padding: 25px;
  

  margin: 0 auto;
  
  color: white;
  text-align: center;
}

.texto-sublinhado {
  font-family: Arial, sans-serif; 
  text-decoration: underline; 
}


.meus-links a {
  font-family: "Times New Roman", Times, serif; 
  font-weight: bold; 
  text-decoration: none; 
  color: blue; 
}